@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .todo-scrollbar {
    scrollbar-color: transparent rgb(156, 163, 175);
    scrollbar-width: thin;
  }
  .todo-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .todo-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .todo-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(156, 163, 175);
    border-radius: 8px;
  }
}

html,
body,
#__next {
  min-height: 100vh;
}
